<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/Home"><img src="../assets/logo.svg"></a>
    </div>
    <ul class="links">
      <li><a href="/Home">Home</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <a href="#" class="theme-btn">Let's talk</a>
    <div class="toggle-btn"><i class="fa-solid fa-bars"></i></div>
  </nav>
</header>
